.room-container {
    display: flex;
    flex-direction: column;
}

.add-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.room-name {
    flex:1;
    padding: 5px;
}

.add {
    background-color: blue;
    padding: 5px 10px;
}

.card {
    text-align: center;
    align-items: center;
    border:3px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.add-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
}